@import './variable';
.container {
  width: 1190px;
  margin: 0 auto;
}
// 清除浮动
.clearfix {
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
.fl{
  float: left!important;
}
.fr{
  float: right !important;
}

.base-title-block {
  height: 40px;
  line-height: 40px;
  color: rgba(0,0,0,0.85);
  padding: 0 12px;
  margin-bottom: 8px;
  .title {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    padding: 0 3px;
    margin-right: 13px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      border-bottom: 1px solid $base-color;
    }
  }
  .btb-btn {
    padding: 3px 12px;
    background: #D8D8D8;
    border: 1px solid #D8D8D8;
    margin-top: 8px;
    border-radius: 2px;
    margin-left: 16px;
  }
  .u-btn {
    margin-right: 16px;
  }
}

.bg-white {
  background: #fff;
}

.base-table {
  table-layout: fixed;
  width: 100%;
  background: #fff;
  thead {
    tr {
      th {
        text-align: center;
        font-weight: normal;
        padding: 0 8px;
        border-right: 1px solid rgba(0, 0, 0, .04);
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  tbody tr{
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    &:hover {
      background: #E6F7FF;
    }
    td {
      text-align: left;
      padding: 0 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-right: 1px solid rgba(0, 0, 0, .04);
      &:last-child {
        border-right: none;
      }
    }
  }
  tr{
    td{
      vertical-align: middle;
    }
  }
}

.base-color {
  color: $base-color !important;
}

//加入购物车立即购买
.list-btn {
  margin: 0 auto;
  width: 88px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  &.btn-buy {
    margin-bottom: 16px;
    color: #fff;
    background: #555A68;
  }
  &.btn-cart {
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}
.pur-btn {
  a{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    &:first-child {
      margin-right: 24px;
      background: #555A68;
      color: #fff;
    }
    &:last-child{
      color: #666666;
      border: 1px solid rgba(0,0,0,0.15);
    }
  }
}

i.must {
  font-style: normal;
  color: #dd1010;
}

.line-height-normal {
  line-height: normal;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.com-price-level {
  line-height: 20px;
  padding: 16px 0;
  .line {
    margin-bottom: 8px;
    font-size: 0;
    &:first-child {
      margin-bottom: 16px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 16px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
