ul.list-inline {
  li {
    display: inline-block;
    vertical-align: middle;
  }
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.25);
}
:-moz-placeholder {
  color: rgba(0,0,0,0.25);
}
::-moz-placeholder {
  color: rgba(0,0,0,0.25);
}
:-ms-input-placeholder {
  color: rgba(0,0,0,0.25);
}
$base-color: #1890FF;
.u-btn {
  display: inline-block;
  background: #FFFFFF;
  border-radius: 4px;
  font-size: 14px;
  text-align: left;
  height: 32px;
  line-height: 30px;
  padding: 0 16px;
  &.u-btn-cancel {
    border: 1px solid #D9D9D9;
    &:hover {
      color: $base-color;
      border-color: $base-color;
    }
  }
  &.u-btn-submit {
    background: $base-color;
    border: 1px solid $base-color;
    color: #fff;
  }
}

.u-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, .3);
}

.u-btn-wrap {
  font-size: 0;
  text-align: center;
  .u-btn {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.u-placeholder {
  color: rgba(0,0,0,0.25);
}

.u-picker-box {
  width: 280px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
  overflow: hidden;
  position: absolute;
  z-index: 200;
  height: 0;
  /*-webkit-transition: height .2s ease-in-out;
  -moz-transition: height .2s ease-in-out;
  -ms-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;*/
  &.auto-height {
    height: 314px;
  }
  .date-picker-title {
    padding: 0 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    .dpt-content {
      line-height: normal;
      display: inline-block;
      button {
        outline: none;
        padding: 5px 7px;
        font-weight: bold;
        border: none;
        background: transparent;
        cursor: pointer;
        &:focus {
          border: none;
        }
        &:hover {
          background: #E6F7FF;
        }
      }
    }
    .icon {
      cursor: pointer;
      font-style: normal;
      color: rgba(0, 0, 0, .45);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .fl {
      height: 40px;
      .icon {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .fr {
      height: 40px;
      .icon {
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .date-picker-content {
    line-height: 22px;
    padding: 16px 20px 0;
    ul {
      padding: 0;
      margin-bottom: 8px;
      font-size: 0;
      li {
        list-style: none;
        display: inline-block;
        width: 14.2%;
        text-align: center;
        padding: 0 5px;
        font-size: 14px;
        .dpc-content-item {
          border-radius: 2px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }
      &.dpc-content {
        li {
          .dpc-content-item {
            cursor: pointer;
            &.disabled {
              cursor: not-allowed;
              color: rgba(0,0,0,0.25);
            }
            &:hover {
              background: #E6F7FF;
            }
            &.today {
              opacity: 0.8;
              border: 1px solid $base-color;
              border-radius: 2px;
              color: $base-color;
            }
            &.active {
              background: $base-color;
              color: #fff;
              border: 1px solid $base-color;
            }
          }
        }
      }
    }
    &.size-l {
      padding-top: 25px;
      ul {
        margin-bottom: 30px;
        li {
          width: 33.3%;
        }
      }
    }
  }
}
