.order-table {
  thead tr {
    height: 40px;
    line-height: 40px;
    background: rgba(0,0,0,0.02);
  }
  tbody {
    tr {
      &.en-info {
        border-bottom: 1px solid rgba(0,0,0,0.25);;
        td {
          height: 40px;
          line-height: 40px;
          padding: 0 16px;
          b {
            margin-left: 8px;
          }
          i {
            margin-left: 24px;
          }
        }
      }
      &.product {
        height: 120px;
        line-height: 22px;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}
